@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3><a href="/NewPayment">Create new payment request</a> with DumDumPay API.</h3>
</div>